{% extends 'base.html' %}
{% block content %}
{% load thumbnail %}
    <main>
      <div class="container py-5">        
        <h1>Все посты пользователя {{author.get_full_name}} </h1>
        <h3>Всего постов: {{posts_count}} </h3>
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
            <a
              class="btn btn-lg btn-primary"
              href="{% url 'posts:profile_follow' author.username %}" role="button"
            >
              Подписаться
            </a>
        {% endif %}
          {% for post in page_obj %}
            <ul>
              <li>
              Автор: {{ post.author.get_full_name }}
                </li>
              <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
                </li>
              <li>
                <a href="{% url 'posts:post_detail' post_id=post.pk %}">подробная информация </a>
                </li>
            </ul>
            {% thumbnail post.image "660x239" crop="center" upscale=True as im %}
              <img class="card-img my-2" src="{{ im.url }}">
            {% endthumbnail %}
            <p class="col-12 col-md-9">{{ post.text }}</p>
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        {% include 'posts/includes/paginator.html' %}
      </div>
    </main>
    {% endblock %}